
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.quote{
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
blockquote{
	font-size: 1.3em;
}

blockquote::before{
	content: "\201C";
	font-size: 5em;
	line-height: 1;
	font-family: Georgia;
	position: relative;
    top: 18px;
    color: yellow;
    
}


body {
	width: 100%;
	overflow-x: hidden;
background-color: #49cbff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.main-container {
	min-height: calc(100vh - 136px);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "image-box"
						"text-box";
	row-gap: 50px;
	column-gap: 50px;
}

@media screen and (min-width:850px) {
	.main-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "image-box text-box";
	}

}


.image-box {
	grid-area: image-box;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.text{
	  padding: 70px 0;
	  
	
}

.image-box img {
	width: 100%;
	max-width: 450px;
}

.text-box {
	grid-area: text-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.card {
	width: 100%;
	 border-radius: 1.5rem;
}

.card p {
	color: rgb(255, 255, 255);
	font-size: 18px;
	margin-bottom: 10px;
	 border-radius: 1rem;
	
}
.card button {
	 border-radius: 1rem;
	  font-weight: bold;
	   font-size: 20px;
}

.card input {
	margin-bottom: 40px;
	height: 45px;
	border-radius: 1rem;
}

.warning {
	position: relative;
	margin-top: -36px;
}

footer {
	height: 80px;
	text-align: center;
	line-height: 80px;
}
