<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/score.css}">
	<title>Score Board</title>
</head>
<body>

	<!-- Importing NavBar -->
	<div th:insert="navbar.html :: navbar"></div>
	
	<!-- Main Container Start -->
	<div class="main-container container py-5 px-4">
	    <div class="header1"><h3 style="text-align:center;">TOP STANGINGS OF ALL TIME</h3></div>
		
		
	<!--  	<table class="bg-light text-dark">
			<tr>
				<th>Name</th>
				<th>Score</th>
			</tr>
			<tr th:each="score : ${sList}">
				<td th:text="${score.username}"></td>
				<td th:text="${score.totalCorrect}"></td>
			</tr>
		</table> -->

		<table class="styled-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="score : ${sList}">
				<td th:text="${score.username}"></td>
				<td th:text="${score.totalCorrect}"></td>
			</tr>
				<!-- and so on... -->
			</tbody>
		</table>



	</div>
	
	<!-- Importing Footer -->
	<div th:insert="footer.html :: footer"></div>
	
	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>